<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.RankMapper">
  <resultMap id="BaseResultMap" type="entity.Rank">
    <id column="rank_id" jdbcType="INTEGER" property="rankId" />
    <result column="rank_level" jdbcType="SMALLINT" property="rankLevel" />
    <result column="rank_name" jdbcType="VARCHAR" property="rankName" />
  </resultMap>
  <sql id="Base_Column_List">
    rank_id, rank_level, rank_name
  </sql>

  <select id="selectOneByRid" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from rank
    where rank_id = #{rid,jdbcType=INTEGER}
  </select>

  <delete id="deleteByRid" parameterType="java.lang.Integer">
    delete from rank
    where rank_id = #{rankId,jdbcType=INTEGER}
  </delete>

  <insert id="insertOne" parameterType="entity.Rank">
    insert into rank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="rankId != null">
        rank_id,
      </if>
      <if test="rankLevel != null">
        rank_level,
      </if>
      <if test="rankName != null">
        rank_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="rankId != null">
        #{rankId,jdbcType=INTEGER},
      </if>
      <if test="rankLevel != null">
        #{rankLevel,jdbcType=SMALLINT},
      </if>
      <if test="rankName != null">
        #{rankName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>


  <update id="updateByRank" parameterType="entity.Rank">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Mon Aug 20 17:08:38 CST 2018.
    -->
    update rank
    <set>
      <if test="rankLevel != null">
        rank_level = #{rankLevel,jdbcType=SMALLINT},
      </if>
      <if test="rankName != null">
        rank_name = #{rankName,jdbcType=VARCHAR},
      </if>
    </set>
    where rank_id = #{rankId,jdbcType=INTEGER}
  </update>

</mapper>