<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.ReplyMapper">
  <resultMap id="BaseResultMap" type="entity.Reply">
    <id column="reply_id" jdbcType="BIGINT" property="replyId" />
    <result column="reply_comment_id" jdbcType="BIGINT" property="replyCommentId" />
    <result column="reply_author_id" jdbcType="INTEGER" property="replyAuthorId" />
    <result column="reply_content" jdbcType="LONGVARCHAR" property="replyContent" />
  </resultMap>

  <sql id="Base_Column_List">
    reply_id, reply_comment_id, reply_author_id,reply_content
  </sql>

  <select id="selectByCid" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from replys
    where reply_comment_id = #{Cid,jdbcType=BIGINT}
  </select>

  <delete id="deleteByRid" parameterType="java.lang.Long">
    delete from replys
    where reply_id = #{replyId,jdbcType=BIGINT}
  </delete>

  <insert id="insertOne" parameterType="entity.Reply">
    insert into replys
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        reply_id,
      </if>
      <if test="replyCommentId != null">
        reply_comment_id,
      </if>
      <if test="replyAuthorId != null">
        reply_author_id,
      </if>
      <if test="replyContent != null">
        reply_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="replyId != null">
        #{replyId,jdbcType=BIGINT},
      </if>
      <if test="replyCommentId != null">
        #{replyCommentId,jdbcType=BIGINT},
      </if>
      <if test="replyAuthorId != null">
        #{replyAuthorId,jdbcType=INTEGER},
      </if>
      <if test="replyContent != null">
        #{replyContent,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>

</mapper>